
{% load staticfiles %}

<form method = 'post' action = '/dc/dept/addDept/'>
	 {% csrf_token %}
	<h2>label<input name='label' value ='' ></h2>
	<h2>collaboration<input name='collaboration' value ='' ></h2>
	<h2>Total<input name='Total' value ='' ></h2>
	<h2>School</h2>
	<select id="school" name="school">
    {% block content %}
        {% for publisher in schools %}
			<option name='school'value={{publisher.id}}>{{publisher.label}}</option>
        {% endfor %}
	{% endblock %}

	</select>
    <input type='submit' value="确认">
    <input type='button' onclick = "history.go(-1)" value="取消">
</form>

