{% load staticfiles %}
<html>
<head>

<title>Results</title>

<script type="text/javascript" src="{%  static  'game/js/jscharts.js' %}"></script>


</head>
<body>

	<h1 style="text-align: center;">Game over</h1>


	
	<div class='table' id="graph">Loading...</div>


	<h4>Your average score: {{averagePoint}}</h4>
	<h4>Your rank: {{abovePersonNum}}</h4>
	<form method="post" action="sName"> 
		{% csrf_token %}
		<h4>Any suggestion or idea about this game?</h4> 
		<textarea name="message" style="height:300px;width:600px"></textarea>
		<input type="submit" value="submit">
	</form>
	




<h1 style="text-align: center;" onclick="showTable()">Details!(Click and pulldown)</h1>	

<div align="center" id="table"   style="display: none;">
<table>
<tbody id="offmain">
	<thead>

		<tr>
			<th>Round</th>
			<th><a title="Total Yards" >Your average score</a></th>
			<th><a title="Points Per Game" >Your opponent's score</a></th>
			<th><a title="Total Yards" >Your choice</a></th>
			<th><a title="Points Per Game" >Your opponent's choice</a></th>

		</tr>
	</thead>
</br>
	{% block content %}
    
        {% for publisher in process %}
	        <tr>
				<td>{{publisher.times}}</td>
				
				<td>{{publisher.averageMoney }}</td>
				<td>{{publisher.averageRobotMoney}}</td>
				<td>{{publisher.humanSelect }}</td>
				<td>{{publisher.robotSelect}}</td>

			</tr>
            	
			
        {% endfor %}

	{% endblock %}

</tbody>

</table>
</div>

<script type="text/JavaScript" src="{% static 'game/js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript">
	//listen to the exit button
	var UnloadConfirm = {};
	UnloadConfirm.MSG_UNLOAD = "Data not saved yet. Do you really want to leave?";
	UnloadConfirm.set = function(a) {
	    window.onbeforeunload = function(b) {
	    	QUIT_FLAG={
				'quit': 1,
			}
	    	$.ajax({
				url: "/quit",
				type: "GET",
				dataType: 'json',
				data: QUIT_FLAG,
				success:function (result) {
						isFull = result['isFull'];
				},
				error:function(result){
				}
			});
	        //b = b || window.event;
	        //b.returnValue = a;
	        //return a
	    }
	};
	UnloadConfirm.clear = function() {
	    fckDraft.delDraftById();
	    window.onbeforeunload = function() {

	    }
	};
	UnloadConfirm.set(UnloadConfirm.MSG_UNLOAD);
	//end set listen function 

	function showTable(){
		var table = document.getElementById("table");
		table.style.display= "";
	}


	var a = {{humanData}}
	var b = {{robotData}}
	var maxX = {{maxX}}
	var maxY = {{maxY}}
	var minY = {{minY}}
	var myChart = new JSChart('graph', 'line');
	myChart.setTitle("Results");
	myChart.setDataArray({{humanData}}, 'blue');
	myChart.setDataArray({{robotData}}, 'green');
	//myChart.setDataArray([[1, 150],[2, 25],[3, 100],[4, 80],[5, 20],[6, 65],[7, 0],[8, 155],[9, 190],[10, 200]], 'gray');
	myChart.setSize(960, 400);
	myChart.setAxisValuesNumberY(5);
	myChart.setIntervalStartY(minY);
	myChart.setIntervalEndY(maxY);
	for(var i = 0; i < 4; i++){
		tmpNum = maxX / 4 * (i +1);
		myChart.setLabelX([tmpNum,tmpNum.toFixed(0)]);
	}
	
	myChart.setAxisValuesNumberX(5);
	myChart.setShowXValues(false);
	myChart.setTitleColor('#454545');
	myChart.setAxisValuesColor('#454545');
	myChart.setLineColor('#A4D314', 'green');
	myChart.setLineColor('#BBBBBB', 'gray');
	myChart.setAxisNameX("Round")
	myChart.setAxisNameY("Average score")
	for(var i = 1; i<= {{maxX}};i++){
		myChart.setTooltip([i," "])
	}

	myChart.setFlagColor('#9D16FC');
	myChart.setFlagRadius(4);
	myChart.setAxisPaddingRight(100);
	myChart.setLegendShow(true);
	myChart.setLegendPosition(600, 80);
	myChart.setLegendForLine('blue', 'Your information');
	myChart.setLegendForLine('green', 'Your opponent\'s information');
	myChart.draw();
	
</script>

</body>
</html>

