{% load staticfiles %}
<html>
<head>

<title>结果页面</title>

<script type="text/javascript" src="{%  static  'game/js/jscharts.js' %}"></script>


</head>
<body>

	<h1 style="text-align: center;">游戏结束</h1>


	
	<div class='table' id="graph">Loading...</div>


<form method="post" action="sName"> 
		{% csrf_token %}
		<h4>对于本游戏，您有什么建议与感想？</h4> 
		<textarea name="message" style="height:300px;width:600px"></textarea>
		<input type="submit" value="submit">
	</form>
	
	<h4>您的平均钱数: {{averagePoint}}</h4>
	<h4>您的排名: {{abovePersonNum}}</h4>



<h1 style="text-align: center;" onclick="showTable()">显示详情!(点击下拉)</h1>	

<div align="center" id="table"   style="display: none;">
<table>
<tbody id="offmain">
	<thead>

		<tr>
			<th>轮数</th>
			<th><a title="Total Yards" >您的平均收益</a></th>
			<th><a title="Points Per Game" >您对手的平均收益</a></th>
			<th><a title="Total Yards" >您的选择</a></th>
			<th><a title="Points Per Game" >您对手的选择</a></th>

		</tr>
	</thead>
</br>
	{% block content %}
    
        {% for publisher in process %}
	        <tr>
				<td>{{publisher.times}}</td>
				
				<td>{{publisher.averageMoney }}</td>
				<td>{{publisher.averageRobotMoney}}</td>
				<td>{{publisher.humanSelect }}</td>
				<td>{{publisher.robotSelect}}</td>

			</tr>
            	
			
        {% endfor %}

	{% endblock %}

</tbody>

</table>
</div>
<script type="text/javascript">
	function showTable(){
		var table = document.getElementById("table");
		table.style.display= "";
	}


	var a = {{humanData}}
	var b = {{robotData}}
	var maxX = {{maxX}}
	var maxY = {{maxY}}
	var minY = {{minY}}
	var myChart = new JSChart('graph', 'line');
	myChart.setTitle("结果");
	myChart.setDataArray({{humanData}}, 'blue');
	myChart.setDataArray({{robotData}}, 'green');
	//myChart.setDataArray([[1, 150],[2, 25],[3, 100],[4, 80],[5, 20],[6, 65],[7, 0],[8, 155],[9, 190],[10, 200]], 'gray');
	myChart.setSize(960, 400);
	myChart.setAxisValuesNumberY(5);
	myChart.setIntervalStartY(minY);
	myChart.setIntervalEndY(maxY);
	for(var i = 0; i < 5; i++){
		tmpNum = maxX / 5 * (i +1);
		myChart.setLabelX([tmpNum,tmpNum.toFixed(2)]);
	}
	myChart.setAxisValuesNumberX(5);
	myChart.setShowXValues(false);
	myChart.setTitleColor('#454545');
	myChart.setAxisValuesColor('#454545');
	myChart.setLineColor('#A4D314', 'green');
	myChart.setLineColor('#BBBBBB', 'gray');
	for(var i = 1; i<= {{maxX}};i++){
		myChart.setTooltip([i," "])
	}

	myChart.setFlagColor('#9D16FC');
	myChart.setFlagRadius(4);
	myChart.setAxisPaddingRight(100);
	myChart.setLegendShow(true);
	myChart.setLegendPosition(600, 80);
	myChart.setLegendForLine('blue', '您的信息');
	myChart.setLegendForLine('green', '对手信息');
	myChart.draw();
	
</script>

</body>
</html>

